<h1> Todos os veículos </h1>
<%=  link_to 'Cadastrar novo veículo', new_vehicle_path %>
<% if @vehicles.any?%>
  <% @vehicles.each do |v| %> 
    <div>
      <dl>
      <dt><strong>Dados do veículo:</strong><%= link_to v.lincese_plate, v %></dt>
      <dd><strong>Marca: </strong><%= v.brand  %><strong> - Modelo: </strong><%= v.model  %> </dd>
      </dl>
    </div>
  <% end%>
<% else %>
  <p>Não existem veículos cadastrados.</p>
<% end %>